.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}
.hero-img {
  min-width: 80%;
  max-height: 70%;
  margin: var(--md) var(--xs) var(--md) var(--xs);
  border-radius: 0.3rem;
}
.hero-btn {
  padding: 1.25rem;
  position: absolute;
  bottom:var(--lg);
  border: none;
  background-color:var(--primary-color);
  color:var(--text-color);
  font-size: 1.25rem;
}
@media screen and (max-width: 500px) {
  .hero-btn {
    bottom: var(--md);
    padding:0.625rem;
  }
}
  

