.category-container {
  margin:var(--lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1.25rem;
}
.category-img {
  border-left:1.25rem;
  border-right:1.25rem;
  width: 90vw;
  height:70vh;
  border-radius: 0.5rem;
}
.kurthi-btn,
.dresses-btn,
.tops-btn {
  border: none;
  border: 3px solid var(--primary-color);
  font-size: 1.25rem;
  padding: 1.25rem;
  position: absolute;
  right: 90px;
  top: var(--lg);
  text-transform: uppercase;
}
.kurthi-btn:hover,
.dresses-btn:hover,
.tops-btn:hover {
  background-color:var(--primary-color);
  color: var(--text-color);
}
.kurthi-img-wrapper {
  position: relative;
}
.dresses-img-wrapper {
  position: relative;
}
.tops-img-wrapper {
  position: relative;
}
 @media only screen and (max-width: 500px) { 
  .kurthi-btn,
  .dresses-btn,
  .tops-btn {
    padding: 5px;
    right:50px;
    top: 40px;
    text-transform: lowercase;
    
  }
  .category-img{
    width:100vw;
    height:50vh;
  }
}
