@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
:root{
  --primary-color:#512e4f;
  --text-color:white;
  --xs:0.625rem;
  --sm:1.25rem;
  --md:2rem;
  --lg:3.125rem;
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold:bold;
  

}

